@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*  {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color #f4f4f4;
  }
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-image:linear-gradient(to bottom, darkcyan,white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    padding: 25px;
    position: relative;
    
  }

  
  
  .image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: black;
    padding: 3px;
    margin-bottom: 10px;
  }

  .image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
  }

  .profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-data .name {
    font-size: 20px;
    font-weight: 500;
  }

  .text-data .work{
    font-size: 15px;
    font-weight: 300;
  }
  .profile-card .media-button {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  .media-button .link {
   text-decoration: none;
   background-color:white;
   margin: 0 8px;
   height: 35px;
   width: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: black;
   font-size: 20px;
  }

  .profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }

  .buttons .button {
    background-color: whitesmoke;
    padding: 8px 24px;
    margin: 0 10px;
    border-radius: 25px;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .buttons .button:hover {
    background-color: darkcyan;
  }
